VITE_SUPABASE_URL=https://ltryvlcrnjdfjyqcufgq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0cnl2bGNybmpkZmp5cWN1ZmdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxMjMxMzMsImV4cCI6MjEwMzY5OTEzM30.LH6bRpOej4QTwdwhMzqAK-195VLsr6HpqtDrNd5w8Qk
